* {
    font-family: 'Roboto Mono'
}

#navigation ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

h1 {
    text-align: center;

}

ul li {
    display: inline-block;
    background-color: #a306b6;
    font-weight: bold;
}

form {
    padding-left: 30%;
}

h2 {
    font-family: bold;
}

footer {
    margin-top: 20px;
    background-color: grey;
}

#name {
    display: flex;
    flex-direction: column;
}

#message {
    display: flex;
    flex-direction: column;
}

#email {
    display: flex;
    flex-direction: column;
}

#label {
    order: -1;
    margin-top: 10px;
}

.div1,
.div2,
.div3 {
    padding-bottom: 10px;
}

input[type="text"] {
    width: 500px;
    border-radius: 4px;
    background-color: lightgrey;
}

input[type="email"] {
    width: 500px;
    border-radius: 4px;
    background-color: lightgrey;
}

textarea {
    width: 500px;
    border-radius: 4px;
    background-color: lightgrey;
}
